/* Containers */
%container {
   width: 100%;
   max-width: 85.25rem;
}

%container-with-padding {
   @extend %container;
   padding: 0 1rem;
}

@media only screen and (min-width: 50rem) {
   %container-with-padding {
      padding: 0 5rem;
   }
}

/* Buttons */
%base-button {
   padding: 0.7rem 4rem;
   border-radius: 5rem;
   font-size: 0.9rem;
   font-weight: var(--font-semi-bold);
   @extend %transition-hover-up;
}

%button-outline {
   @extend %base-button;
   color: var(--color-blue);
   border: 1px solid var(--color-blue);
   background-color: rgba(0, 0, 0, 0);
}

%button-fill {
   @extend %base-button;
   color: #fff;
   background-color: var(--color-blue);
}

/* Text */
%subtitle {
   font-size: 2.6rem;
   font-weight: var(--font-regular);
   color: var(--color-dark-blue);
   line-height: 3.2rem;
}

%paragraph {
   font-size: 2rem;
   font-weight: var(--font-medium);
   line-height: 2.4rem;
   color: var(--color-dark-blue);
}

/* Transitions */
%transition-hover-up {
   transition: transform 350ms ease-in-out;
}
%transition-hover-up:hover {
   transform: translateY(-0.15rem);
}

/* Animations */
%animation-appear-right {
   animation: appear-right 1s ease-in-out;
}

@keyframes appear-right {
   0% {
      opacity: 0;
      //transform: translate3d(7rem, 0, 0)
      position: relative;
      right: -7rem;
   }
   100% {
      opacity: 1;
      //transform: translate3d(0, 0, 0)
      position: relative;
      right: 0;
   }
}

%animation-appear-left {
   animation: appear-left 1.5s ease-in-out;
}

@keyframes appear-left {
   0% {
      opacity: 0;
   }
   20% {
      opacity: 0;
      transform: translate3d(-7rem, 0, 0);
   }
   100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}

%appear-late {
   animation: appear-late 2s ease-in-out;
}

@keyframes appear-late {
   0% {
      opacity: 0;
   }
   30% {
      opacity: 0;
   }
   100% {
      opacity: 100%;
   }
}

// animations aren't displayed in mobile
@media only screen and (max-width: 40rem) {
   %animation-appear-right {
      animation: unset;
   }
   %animation-appear-left {
      animation: unset;
   }
   %appear-late {
      animation: unset;
   }
}
