@import '../../styles/extends';

.header {
   display: flex;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 3.5rem 0 2rem 0;

   nav {
      @extend %container-with-padding;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
         width: 12rem;
      }

      a {
         margin: 0 1.8rem;
         text-decoration: none;
         font-size: 1.3rem;
         font-weight: var(--font-semi-bold);
         color: var(--color-semi-black);
      }

      .buttonLink {
         margin: 0;
         button {
            @extend %button-outline;
         }
      }
   }
}
