@import '../../styles/extends';

.header {
   display: flex;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: var(--header-height, 9.5rem);
   z-index: 9999;

   nav {
      @extend %container-with-padding;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
         display: none;
      }

      img {
         width: 9rem;
      }

      a {
         margin: 0 1.8rem;
         text-decoration: none;
         font-size: 1.3rem;
         font-weight: var(--font-semi-bold);
         color: var(--color-semi-black);
      }

      .buttonLink {
         margin: 0;
         button {
            @extend %button-outline;
            background-color: #fff;
         }
      }
   }
}

.withMargin {
   margin-top: var(--header-height);
}

.menuButton {
   display: flex;
   align-items: center;
   font-size: 1.5rem;
   padding: 0.3rem;
   background: none;
   border: none;
}

@media only screen and (min-width: 60rem) {
   .header {
      nav {
         img {
            width: 12rem;
         }

         div {
            display: flex;
         }
      }
   }

   .menuButton {
      display: none;
   }
}
