@import '../../styles/extends';

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.container {
   @extend %container;
}

.presentationContainer {
   @extend %container-with-padding;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 38.5rem;
   background-image: url('../../images/backgrounds/Bg_Header.png');
   background-repeat: no-repeat;
   background-position: center;

   h2 {
      font-size: 2.6rem;
      font-weight: var(--font-regular);
      color: var(--color-dark-blue);
      line-height: 3.2rem;

      .woloxText {
         font-weight: var(--font-bold);
         color: var(--color-green);
      }
   }

   picture {
      align-self: flex-end;
      transform: scaleX(-1);
      margin-right: 6rem;
      img {
         width: 26.25rem;
      }
   }
}

.technologiesContainer {
   @extend %container-with-padding;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 6rem;

   p {
      font-size: 2rem;
      font-weight: var(--font-medium);
      line-height: 2.4rem;
      color: var(--color-dark-blue);
   }

   svg {
      // font-family: 'Montserrat', sans-serif;
      font-weight: var(--font-medium);
      margin-right: 2rem;
   }
}

.woloxersBanner {
   display: flex;
   width: 100%;
   margin: 4rem 0;
   background-color: var(--color-grey);

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 26rem;
      text-align: center;
   }
}
