@import '../../styles/extends';

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.container {
   @extend %container;
}

.presentationContainer {
   @extend %container-with-padding;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 38.5rem;
   background-image: url('../../images/backgrounds/Bg_Header.png');
   background-repeat: no-repeat;
   background-position: center;

   h2 {
      @extend %subtitle;
      @extend %animation-appear-left;

      .woloxText {
         font-weight: var(--font-bold);
         color: var(--color-green);
      }
   }

   picture {
      align-self: flex-end;
      transform: scaleX(-1);
      margin-right: 6rem;
      @extend %animation-appear-right;

      img {
         width: 26.25rem;
      }
   }
}

.technologiesContainer {
   @extend %container-with-padding;
   @extend %animation-appear-late;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 6rem;

   p {
      @extend %paragraph;
   }

   svg {
      // font-family: 'Montserrat', sans-serif;
      font-weight: var(--font-medium);
      margin-right: 2rem;
   }
}

.woloxersBanner {
   display: flex;
   width: 100%;
   margin: 4rem 0;
   background-color: var(--color-grey);

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
      height: 26rem;
      text-align: center;
   }

   .woloxers {
      flex-grow: 3;
      flex-direction: column;
      background-image: url('../../images/img_woloxer.png');
      background-repeat: no-repeat;
      background-position: center;

      h1 {
         font-size: 3.3rem;
         font-weight: var(--font-bold);
         color: var(--color-blue);
         span {
            color: var(--color-green);
         }
      }

      p {
         display: flex;
         align-items: center;
         color: #fff;
         font-size: 1.3rem;
         font-weight: var(--font-regular);
         margin: 3rem 0 1rem 0;
      }

      // Twitter ico
      svg {
         font-size: 2rem;
         margin-right: 0.5rem;
      }

      button {
         @extend %button-outline;
         font-size: 1.3rem;
         font-weight: var(--font-medium);
         color: #fff;
         border-width: 2px;
      }
   }

   h2 {
      @extend %subtitle;
      font-weight: var(--font-medium);

      strong {
         font-weight: var(--font-bold);
         color: var(--color-blue);
         span {
            color: var(--color-green);
         }
      }
   }
}

.benefitsTitle {
   @extend %paragraph;
   width: 100%;
   margin: 7rem 0 5rem 0;
   font-weight: var(--font-medium);
   text-align: center;

   span {
      color: var(--color-blue);
   }
}

.benefitsContainer {
   @extend %container-with-padding;

   section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5rem;
      box-shadow: 0 15px 15px -18px rgba(0, 0, 0, 0.3);
   }

   .benefitsCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0.5rem;

      svg {
         width: 6rem;
         height: 6rem;
      }

      span {
         font-size: 1.2rem;
         font-weight: var(--font-semi-bold);
         margin: 1.8rem 0 4rem 0;
         text-align: center;
      }
   }
}

@media only screen and (max-width: 60rem) {
   .presentationContainer {
      flex-direction: column;
      height: auto;
      padding-top: calc(var(--header-height) + 1rem);

      h2 {
         align-self: flex-start;
         z-index: 1;
      }

      picture {
         align-self: unset;
         margin: 3rem 0 0 0;
         img {
            width: 24rem;
         }
      }
   }

   .technologiesContainer {
      flex-direction: column;

      p {
         align-self: flex-start;
      }

      svg {
         width: 70%;
         margin: 2rem 0 0 0;
      }
   }

   .woloxersBanner {
      flex-direction: column;
   }

   .benefitsTitle {
      padding: 0 1rem;
   }

   .benefitsContainer {
      .benefitsCard {
         width: 33%;
      }
   }
}

@media only screen and (max-width: 40rem) {
   .presentationContainer {
      picture {
         img {
            width: 18rem;
         }
      }
   }

   .technologiesContainer {
      svg {
         width: 90%;
         max-height: 17rem;
      }
   }

   .woloxersBanner {
      h2 {
         padding: 0 1rem;
         font-size: 2rem;
      }
   }

   .benefitsContainer {
      section {
         box-shadow: none;
      }
      .benefitsCard {
         width: 50%;
      }
   }
}
